@media screen and (min-width: 992px) {
    .navbar {

        max-width: 1170px;
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

    }



    .nav-logo {

        display: flex;
    }

    .nav-logo>img {
        margin-top: 30px;
        margin-right: 16px;
        width: 56px;
        height: 48px;
    }

    .nav-logo h1 {
        color: #131318;
        font-family: Mulish;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal
    }

    .navbar ul {
        list-style: none;
    }

    .nav-items {
        display: flex;
        justify-content: end;
    }

    .nav-items li {
        margin-left: 44px;
        margin-top: 30px;
        color: #424247;
        text-align: center;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .menu-icon {
        display: none;
    }

    .main {
        max-width: 1170px;
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 50px;

    }

    /* SECTION 1 */

    .banner {
        background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
        background-color: grey;
        background-blend-mode: multiply;
        width: 1170px;
        height: 500px;
        border-radius: 16px;
        flex-shrink: 0;
        text-align: center;
        display: block;
        align-items: center;
    }

    .banner h1 {
        padding-top: 106px;
        color: #FFF;
        font-family: Mulish;
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .banner .des {

        width: 676px;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin: 0 auto;


    }

    .select {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding-top: 45px;
        margin-left: 160px;
        margin-right: 160px;
        margin-top: 45px;
        padding-top: 16px;
        padding-bottom: 16px;
        background: rgba(255, 255, 255, 0.30);
        border-radius: 8px;


    }

    .select>button {
        width: 174px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: center;
    }

    .select img {
        height: 24px;
        width: 24px;
        padding-top: 15px;
        margin-right: 5px
    }

    .select p {
        padding-bottom: 15px;
    }


    select,
    .select>input {
        color: rgba(19, 19, 24, 0.50);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 15px;
        padding-right: 24px;
        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FFF;
        border: none;
    }



    /* SECTION 2 */

    .popular-tours {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }

    .popular-tours li {
        padding-bottom: 15px;
    }

    h3 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .popular-tours img {
        padding-top: 50px;
        width: 540px;
        height: 550px;
        border-radius: 16px;
    }

    .section2 button {
        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 100px;
    }

    .description {
        width: 577px;
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    /* SECTION 3 */
    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    h3 {
        color: #131318;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 24px;
    }

    .intro {
        max-width: 643px;


    }

    .section3 p {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .image-container1 {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

    }

    .image-container1 img {
        width: 573px;
        height: 300px;
        margin-bottom: 24px;
        border-radius: 16px;
    }

    .image-container2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    #rectangle6 {
        width: 374px;
        height: 286px;
    }

    #rectangle7 {
        width: 474px;
        height: 286px;
    }

    #rectangle9 {
        width: 274px;
        height: 286px;
    }

    .image-container2 img {
        margin-bottom: 24px;
        border-radius: 16px;

    }

    .image-container2 img {
        border-radius: 16px;

    }

    .image-container3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    #rectangle11 {
        width: 473px;
        height: 300px;
    }

    #rectangle10 {
        width: 673px;
        height: 300px;
    }



    .image-container1,
    .image-container2,
    .image-container3 {
        display: flex;
        justify-content: space-around;
    }

    .image-caption {
        position: relative;
        text-align: center;
    }

    .caption {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }


    /* SECTION 4 */

    .section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;

    }

    .box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        justify-content: center;
        align-items: center;

    }

    .box img {
        padding-top: 32px;
        height: 64px;
    }

    .box1 {
        padding-left: 32px;
        /* padding-right: 55px; */

        width: 573px;
        height: 284px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }

    .box2 {


        width: 573px;
        height: 284px;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }

    .box3 {


        margin-top: 24px;
        width: 573px;
        height: 284px;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
    }

    .box3 img {
        padding-top: 32px;
        width: 72px;
    }

    h4 {
        color: #131318;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 16px;
    }

    .box-content {
        padding-left: 32px;
    }

    .box-content > .description {
        max-width: 486px;

    }

    /* SECTION 5 */

    .section5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section5 > .intro{
        margin-top: 100px;
        text-align: center;
    }.section5 > .intro > .description{
        margin-bottom: 45PX;
    }

    .banner2 {
        background-image: url(../Images/Group\ 39.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        border-radius: 16px;
        padding-top: 56px;
        padding-right: 56px;

    }

    .banner-box {
        margin-left: 535px;
        padding-top: 52px;
        margin-right: 56px;
        padding-left: 50px;
        width: 579px;
        height: 389px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        margin-bottom: 100px;

    }

    .group {
        display: flex;
        justify-content: space-between;
        max-width: 150px;
       
        


    }

    .group > .description{
        margin: 0;

    }

    .icon{
        height: 24px;
      
    }

    .banner-title{
        display: flex;
        justify-content:first baseline;
       
    }
    h5 {
        color: #FF5400;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .section5 button {
        width: 150px;
height: 52px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 100px;
    }

    .banner3 {
        background-image: url(../Images/Group\ 40.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        border-radius: 16px;
        padding-top: 56px;
        padding-right: 56px;

    }

    .banner3-title{
        display: flex;
        justify-content:first baseline;
       
    }

    .banner3-box {
        margin-left: 56px;
        padding-top: 52px;
        margin-right: 56px;
        padding-left: 50px;
        width: 579px;
        height: 389px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        margin-bottom: 100px;

    }

    






}



@media screen and (max-width: 600px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }

    .nav-logo {
        display: flex;
    }


    .menu-icon {
        display: block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-top: 20px;
    }

    .nav-logo>img {
        width: 28.724px;
        height: 33.516px;
        flex-shrink: 0;
        margin-top: 18px;
    }

    .nav-logo>h1 {
        color: #131318;
        font-family: Mulish;
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 19.2px;
        margin-left: 5px;
    }

    .nav-items {
        display: none;
    }

    .main {
        /* max-width: 375px; */
        margin-left: 5%;
        margin-right: 5%;

    }



    /* SECTION 1 */


    .banner {
        margin-top: 17px;
        min-height: 483px;
        border-radius: 5px;
        flex-shrink: 0;
        background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-color: grey;
        background-blend-mode: multiply;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-position: 50% 50%;

    }

    .section1 {
        /* min-width: 335px; */
        min-width: 90%;

    }

    .banner h1 {
        padding-top: 24px;
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .banner .des {
        max-width: 304px;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin: 0 auto;
        padding-bottom: 12px;


    }

    .select {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        width: 80%;
        max-width: 287px;
        padding: 16px;
        align-items: center;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        margin: 0 auto;


    }

    .select>button {
        display: flex;
        justify-content: center;

        min-width: 90%;
        max-width: 287px;
        height: 52px;
        border-radius: 8px;
        background-color: #FF5400;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        padding-bottom: 48px;

    }

    .select img {
        height: 24px;
        width: 24px;
        padding-top: 15px;
        margin-right: 5px
    }

    .select p {
        padding-bottom: 15px;
    }


    select,
    .select>input {
        width: 90%;
        max-width: 287px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
        color: rgba(19, 19, 24, 0.50);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
    }


    /* SECTION 2 */



    .popular-tours {
        display: flex;
        flex-direction: column;
    }


    .description {
        max-width: 335px;
        ;
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .popular-tours li {
        padding-bottom: 15px;
    }

    .popular-tours>img {
        width: 100%;
        height: 342px;
        border-radius: 16px;
    }

    .section2 button {
        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
    }

    /* SECTION 3 */

    .section3 {
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .intro {
        width: 309px;
        margin-bottom: 24px;
    }

    h3 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .section3 p {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .image-container1,
    .image-container2,
    .image-container3 {
        display: flex;
        flex-direction: column;

    }



    .section3 img {
        width: 100%;
        height: 176px;
        margin-bottom: 16px;
    }


    .image-caption {
        position: relative;
        text-align: center;
    }

    .caption {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }


    /* SECTION 4 */
    .section4 {
        display: block;
        flex-direction: column;

    }

    .section4 .description {
        text-align: center;
    }

    .box-content h4 {
        text-align: left;
    }

    .box-content .description {
        text-align: left;


    }

    .box img {
        padding-top: 32px;
        height: 48px;
    }

    .box3 img {
        padding-top: 32px;
        height: 48px;
    }





}